aside {
	width: 15rem;
	min-width: 15rem;
	height: 100vh;
}

.sidebar {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.new-chat {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 6px;
}

.cnv-history {
	width: 100%;
	padding: 0 1rem 0 1rem;
	flex: 1;
	margin: 0.25rem 0 1rem 0;
	align-self: flex-start;
}

.cnv-history li {
	border-radius: 0.25rem;
	height: 2rem;
	font-size: 1rem;
	line-height: 0rem;
	font-weight: 500;
	list-style-type: none;
	cursor: pointer;
	padding: 1.25rem;
	margin-bottom: 0.25rem;
	transition: 0.2s;
}

.cnv-history li:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(73, 78, 105);
}

nav {
	padding: 0.25rem;
	margin: 0.175rem;
}
